<!DOCTYPE html >
<html lang="en" xmlns:th = "http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="maket.html">
<div class="container" layout:fragment="site">
<div class="row d-flex justify-content-center">
    <div class="col-7 mt-4">
        <form th:action="@{'addTask'}" method="post">
            <div class="form-group mt-2">
                <label>
                    Name:
                </label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group mt-2">
                <label>
                    Dead Line:
                </label>
                <input type="date" class="form-control" name="deadLine">
            </div>
            <div class="form-group mt-2">
                <label>
                    Completed
                </label>
                <select name="completed" class="form-control">
                    <option th:value="false">No</option>
                    <option th:value="true">Yes</option>
                </select>
            </div>
            <div class="form-group mt-3">
                <button class="btn btn-success">Add Task</button>
                <button class="btn btn-primary" type="button"><a th:href="@{'/'}" style="text-decoration: none; color: white">Back to main page</a></button>
            </div>
        </form>
    </div>
</div>
</div>
</html>